{% extends 'website/base.html' %}
{% load staticfiles %}
{% load pipeline %}

{% block css %}
<link href="{% static 'website/game.css' %}" rel="stylesheet">
{% endblock css %}

{% block content %}
<div class="game"></div>
{% endblock content %}

{% block javascript %}
<script src="{% static 'website/jquery-ui.min.js' %}"></script>
<script src="{% static 'website/mustache.min.js' %}"></script>
{% javascript 'game' %}
<script src="{% url 'home_js' %}"></script>
{% endblock javascript %}
