html, body {
  width: 100%;
}

.game {
  background: black;
  position: absolute;
  top: 51px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;
}

.game nav {
  border: 5px solid #ffa0a0;
}

.game .content {
  position: absolute;
  top: 36px;
  bottom: 116px;
  left: 0px;
  right: 0px;
}

.game section.field {
  border: 5px solid orange;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 256px;
}

.game section.field canvas {
  position: absolute;
  background: #008;
}

.game aside {
  color: white;
  border: 5px solid #ffff60;
  position: absolute;
  width: 256px;
  top: 0px;
  bottom: 0px;
  right: 0px;
}

.game footer {
  border: 5px solid #60ff60;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: white;
  height: 116px;
}

.game section.chat {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.game section.messages {
  position: absolute;
  top: 0px;
  bottom: 26px;
  left: 0px;
  right: 0px;
  overflow: auto;
  word-wrap: break-word;
}

.game section.prompt {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.game section.chat input {
  background: black;
  width: 100%;
}

.game div.message.error {
  color: #ffa0a0;
}

.game div.message.success {
  color: #60ff60;
}

.game div.message.joined {
  color: #60ff60;
}

.game div.message.left {
  color: #40ffff;
}

.game div.message.disconnected {
  color: #ffa0a0;
}

.game span.nickname {
  color: #80a0ff;
}

.game span.own_nickname {
  color: #ffff60;
}
